.Speaker {
  width: 150px;
  height: 100px;
  background-color: grey;
  border-radius: 15px;
  position: absolute;
  top: 286px;
}

.Speaker--left {
  left: 70px;
}

.Speaker--right {
  left: 485px;
}
